<form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Nom: <input type="text" name="surname" /></label>
  </p>
  <p>
    <label>Prénom: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Téléphone: <input type="text" name="phone" /></label>
  </p>
  <p>
    <label>Profil facebook: <input type="text" name="facebook" /></label>
  </p>
  <p>
    <label>Commentaire: <input type="text" name="comment"></label>
  </p>
  <p>
    <button type="submit">Envoyer</button>
  </p>
</form>
