<div class="page__footer-follow">
  <div>
    Luminy.org :
    <ul>
    {% for link in site.footer.links %}
      <li>
        <a href="{{ link.url }}/">{{ link.label }}</a>
      </li>
    {% endfor %}
  </div>
  <div>
    Raccourcis :
    <ul>
    {% for author in site.data.authors.authors %}
      <li>
        <a href="/{{ author.directory }}/">{{ author.name }}</a>
      </li>
    {% endfor %}
  </div>
</div>
<div class="page__footer-copyright">&copy; 2002-{{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
