ul class social-icons
<div class="page__footer-follow">
    <ul class="social-icons">
    {% for link in site.footer.links %}
      <li>
        <a href="{{ link.url }}/">{{ link.label }}</a>
      </li>
    {% endfor %}
    <ul class="social-icons">
    {% for author in site.data.authors.authors %}
      <li>
        <a href="/{{ author.prefix }}/">{{ author.name }}</a>
      </li>
    {% endfor %}
</div>
<div class="page__footer-copyright">&copy; 2002-{{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
